<nav class="navbar sticky-top navbar-dark" style="background-color:rgb(82, 82, 82);">
                <a class="navbar-brand" href="/">PREZ Client Manager</a>
                <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/allClients">Clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:white;" href="/newClient">New Client</a>
  </li>
</ul>
         </nav>
 {{!
<center>
 
<form style="width:500px;"></center>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>}}
                <div> 
    <form action="/success" method="POST" style="margin:30px;">
   
    <div>
       <label for="LastName">Last Name: </label>
        <input type="name" name="LastName"/>
        <br>
        <label for="firstName">First Name: </label>
        <input type="name" name="firstName"/>
        <br>
        <label for="Address">Address:</label>
        <input type="text" name="Address"/>
        
        <label for="ZipCode">Zip Code:</label>
        <input type="number" name="ZipCode"/>
       
        <label for="State">State:</label>
        <input type="text" name="State"/>
        <br>
        <label for="PhoneNumber">PhoneNumber</label>
        <input type="Phone" name="PhoneNumber"/>
        <br>
         <label for="Email">Email:</label>
        <input type="text" name="Email"/>
    </div>
    <br>
    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form> 
